<!DOCTYPE html>
<html>
<head>
  <title>Verify Email</title>
  <link rel="stylesheet" href="../Assets/verify.css" />
</head>
<body>
    <div class="container">
        <div>
        <h2>Email Verification</h2>
    </div>
  <div>
    <form action="login.html" onsubmit="return verifyCode()">
    <input type="text" id="code" placeholder="Verification Code"><br>
    <button type="submit">Verify</button>
  </form>
  </div>
    </div>
    
  

  
  <script src="../Assets/verify.js"></script>
</body>
</html>