<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <link rel="stylesheet" href="../Assets/updatePassword.css">
</head>
<body>
    <form>
        <h2>Update Password</h2>
        <label>New Password: <input type="password" id="password"></label><br><br>
        <button type="button" onclick="updatePassword()">Update</button>
    </form>

    <script src="../Assets/updatePassword.js"></script>
</body>
</html>